body{
background:url(parede.png);
font-family: Arial;
padding: -1%;
margin: -1%;
 width: 50%;
}

.testo{
font-size: 40px;
width: 30px;

}

.marmita{
height: 10rem;

.logo{
align-content: center;

.porra{
height: 100px;
width: 1000px;